<form action='/<%= idea.id %>' method='POST'>
  <p>
    <% if idea.id %>
      Edit your Idea:
    <% else %>
      Your Idea:
    <% end %>
  </p>
  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  <input type='text' name='idea[title]' value="<%= idea.title %>"/>Title<br/>
  <textarea name='idea[description]'><%= idea.description %></textarea> Description<br/>
  <textarea name='idea[tags]'><%= idea.tags %></textarea> Tag<br/>


  <select name="idea[group]">
   <option value="No Group">No Group</option>
   <option value="Home and Garden">Home and Garden</option>
   <option value="Travel">Travel</option>
   <option value="Leisure">Leisure</option>
   <option value="School">School</option>
   <option value="Culinary">Culinary</option>
   <option value="Fitness and Health">Fitness and Health</option>
  </select><br/>
  <input type='submit'/>
  </form>

<form action='/search' method='GET'>
  <input type= 'text' name= "search_tag">
 <input type='submit' value= "Search by Tag"/> 
</form>
<form action='/lookup' method='GET'>
  <input type= 'text' name= "lookup">
 <input type='submit' value= "Search by Phrase"/> 
</form>
<form action='/tags' method='GET'>
  <button type= 'submit'>Tags</button>
  </form>
  <form action="/searchday"> 
   <select name="idea[search_day]">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>
  <input type="submit" value="Search By Day Of Week">
</form>
 <form action="/groups" method='GET' > 
   <select name="idea[group]">
    <option value="No Group">No Group</option>
    <option value="Home and Garden">Home and Garden</option>
    <option value="Travel">Travel</option>
    <option value="Leisure">Leisure</option>
    <option value="School">School</option>
    <option value="Culinary">Culinary</option>
    <option value="Fitness and Health">Fitness and Health</option>
  </select>
  <input type="submit" value="Search By Group">
</form>

