<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <style> 
      body {background-color: turquoise; 
             color: magenta ;
               }
  </style>
  <body>

  <%= yield %>

  </body>
</html>
 
