<html>
  <head>
        <title>IdeaBox</title>
      </head>
      <h1 align="center">IDEABOX</h1>
      <img src="http://www.myfunstudio.com/_gallery/1500/12XLtDM.png" class="logo">
      <h2 align="center"> It all starts with an idea</h2>
  </head>
  <style> 
      body {background-color: white; 
             color: black ;
             font-size: large;
                  }
           img.logo {
      display:block;
      width: 300px;
      height: 200px;
      margin: 0 auto;
      border: 5px solid black;
    }
     ul.ideas {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    ul.ideas li {
      width: 40%;
      float: left;
      background: white;
      margin-right: 2%;
      padding: 3% 1%;
      border: 5px solid black;
    }
  </style>
  <body>

  <%= yield %>

  </body>
</html>


 
