<title>Ideabox</title>
<h1>Ideabox</h1>
   </head>
  <body>
<h3>Attributes Search</h3>
<ul>
  <% lookup_ideas.each do |idea| %>
      <li>
        <form action='/<%= idea.id %>/like' method='POST'  style="display: inline">
        <input type='submit' class="btn btn-success" value="Like?"/>
        </form>
        <p>
          Title: <%= idea.title %><br/>
        </p>
        <p>
          Description: <%= idea.description %><br/>
        </p>
        <p>
          Tag: <%= idea.tags%><br/>
        </p>
       </li> 
   <% end %>     
</ul>
